@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

#navigation .current a {
    color: black;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
}

.bg-cover {
    background-image: url("images/project_02.jpg");
    background-size: 100% 900px;
    background-repeat: no-repeat;
}

#body-wrapper {
    width: 1120px;
    margin: 0 auto;
    background-color: white;
}

#header {
    margin: 0 auto;
    width: 980px;
    min-height: 120px;
    background-color: white;
    display: block;
    clear: both;
}

.logo {
    margin-top: 45px;
    float: left;
    letter-spacing: -0.06em;
    font-size: 36px;
    font-family: Arial Black;
}

.logo span {
    color: #fec901;
}

.footerLogo {
    letter-spacing: -0.06em;
    font-size: 28px;
    color: white;
    font-family: Arial Black;

}

.footerLogo span {
    color: #fec901;
}

#navigation {
    float: right;
    margin-top: 60px;
}

ul li {
    float: left;
}

#navigation a {
    margin: 0 0 0 30px;
    color: #959595;
    font-size: 14px;
}

.current > a {
    color: #333;
}

#highlight {
    background-color: #fec901;
    position: relative;
    font-family: Arial Black;
    padding: 25px;
    display: block;
    clear: both;
}

#highlight .welcomer {
    position: absolute;
    left: 6%;
    top: 30%;
}

#highlight h2 {
    font-size: 30px;
}

#highlight p {
    color: white;
    font-size: 12px;
    width: 70%;
}

#highlight a {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    background-color: white;
    border-radius: 1%;
    position: absolute;
    margin-top: 50px;
    border-radius: 5%;
    padding: 5px 30px;

    text-align: center;
}

#highlight a:hover {
    background-color: black;
    color: white;
}

#highlight .welcomeImmage {
    position: relative;
    left: 60%;
    top: 5%;
}

#content {
    display: block;
    margin: 50px auto;
    width: 980px;
    background-color: white;
    clear: both;
    height: auto;
}

#footer {
    padding-top: 60px;
    background: #333;
    color: #636363;
    font-size: 12px;
    display: block;
    clear: both;
}

#footerContent {
    padding-right: 70px;
    padding-left: 70px;
    clear: both;
}

#footerContent p {
    width: 240px;
    color: #636363;
}

#footerContent a {
    color: #636363;
}

#footerContent h3 {
    color: #959595;
    margin-bottom: 20px;
}

#copyrightInfo {
    margin: 25px auto 0;
    padding: 15px 0;
    width: 100%;
    background: #2b2b2b;
}

#copyrightInfo ul {
    height: 20px;
    clear: both;
}

#footerContent {
    height: 150px;
}

#photoStream {
    width: 240px;
    margin-right: 0 !important;
}

#photoStream img {
    height: auto;
    width: 100%;
}

#photoStream li {
    margin: 0 10px 10px 0;
    width: 50px;
}

#copyrightInfo li {
    margin-left: 30px;
}

#copyrightInfo a {
    color: #959595;
}

#footer .socialLinks li a {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    background-color: #333;
    padding: 1px;
}

#footer .socialLinks li {
    margin-left: 10px !important;
}

.icon {
    float: left;
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #333;
    text-align: center;
    line-height: 38px;
    display: block;
    vertical-align: middle;
}

.starter-description h3 {
    margin: 0 0 0 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
}

.starter p {
    margin-top: 15px;
    color: #959595;
    font-size: 12px;

}

.starter {
    float: left;
    margin-right: 2%;
    width: 31.32%;
}

#photos {
    height: 230px;
    clear: both;
}

#photos img {
    width: 100%;
    height: auto;
}

#photos ul {
    margin-top: 100px;
}

#photos ul li {
    overflow: hidden;
    margin: 0 15px 0 0;
    width: 230px;
}

#footerContent a {
    width: 50px;
}

.oneFourth {
    width: 23.5%;
    float: left;
}

.simpleWelcomer {
    text-align: center;
}

/*articles*/
.postMetaData {
    margin-bottom: 10px;
    color: #959595;
}

.postMetaData span {
    margin-left: 20px;
    font-size: 12px;
    padding: 5px;
}

.postMetaData span:first-child {
    margin-left: 0px;
}

.postMetaData span i {
    margin-right: 10px;
}

.postMetaData a {
    color: #959595;
}

.postContent img {
    width: 100%;
    height: 300px;
    border-radius: 1%;
}

.post {
    margin: 80px;
    margin-top: 40px;
}

.post .detail {
    margin-top: 25px;
}

.post:last-of-type {
    margin-bottom: 0px;
}

#portfolio {
    height: 798px;
    clear: both;
    width: 810px;
    margin: 0 auto;
    overflow: hidden;
}

#portfolio img {
    width: 100%;
    height: auto;
}

#portfolio ul li {
    overflow: hidden;
    margin: 20px;
    width: 230px;
}

/*contact*/

#contactInfo {
    width: 22.5%;
}

#contactInfo h3, #contactInfo p {
    margin-bottom: 20px;
}

#contactMain {
    width: 71%;
}

#contactInfo {
    float: right;
}

#contactMain {
    float: left;
}

#contactInfo .socialLinks li a {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

#contactInfo .socialLinks li {
    margin-right: 10px !important;
}

#contactForm{
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type="text"], textarea {
    display: block;
    margin-bottom: 20px;
    padding: 7px 8px;
    max-width: 100%;
    width: 240px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #959595;
    font: 12px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

#contactMain textarea{
    min-width: 97%;
    max-width: 97%
}

.button {
    color: white;
    font-size: 16px;
    background: #fec901;
    border-radius: 5%;
    padding: 5px 30px;
    text-align: center;
}

.button:hover {
    background: black;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    padding: 7px 20px 8px;
    border-radius: 3px;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    cursor: pointer;
}


#navigation li { position: relative }

#navigation li:hover ul { display:block; }

#navigation ul { display:none; width:150px; position:absolute; left:0; background:#222; z-index: 1000; margin-left: 30px }

#navigation li a { display:block; color: #999; text-decoration:none;}

#navigation li ul li { height:auto; position:relative; list-style-type:none; border-top: solid 1px;
    clear: both;}

#navigation li ul li a:hover { color: #e1e1e1 !important; text-decoration: none}

#navigation li ul li a { color: white !important; text-decoration: none; margin-left: 15px;}

.inputInvalid {
    border: red 1px solid !important;
}


#photoDetail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fec901;
    padding: 15px;
    z-index: 100;
}

#closePhotoDetail{
    position: fixed;
    top: 0;
    right: 4px;
    z-index: 100;
}

#portfolio img:hover, #closePhotoDetail{
    cursor: pointer;
}

.slide{
    width: 100%;
    height: 100%;
    display: none !important;
}

.active{
    display: block !important;
}

#left-arrow{
    position: absolute;
    left: 30px;
    font-size: 22px;
    cursor: pointer;
}

#right-arrow{
    position: absolute;
    right: 30px;
    font-size: 22px;
    text-align: right;
    cursor: pointer;
}